/* Font */

@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700");

/* Body */

html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

.body {
    min-height: 100%;
}

.btn:hover {
    background-color: #6c757d;
    color: white;
}

/* Navbar */

.navbar-brand {
    font-size: 1.2em;
    margin-right: 0.5em;
}

.search-button {
    padding: 0;
    background-color: Transparent;
    border: none;
}

.fa-search {
    color: white;
    margin-left: 0.5em;
}

#searchbox-text {
    height: 2em;
    margin-top: 0.5em;
}

.fa-user {
    padding-right: 0.3em;
}

.fa-shopping-cart {
    padding-right: 0.3em;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.alert {
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
}

/* Footer  */

a:hover {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.footer-link {
    color: rgba(255, 255, 255, 0.5);
}

.social-links li {
    padding: 1.5em;
    padding-bottom: 0;
}

.social-links li a {
    color: white;
}

.footer-copyright {
    background: #6c757d;
    color: rgba(255, 255, 255, 0.5);
}

/* Account pages */

#account-section {
    margin-bottom: 2em;
}

#jumbotron-account {
    padding-top: 1.75em;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
}

#account-header {
    font-size: 2.2em;
}

#account-align {
    text-align: center;
}

.account-btn {
    background: #483d8b;
    font-size: 0.85em;
    font-weight: 600;
    color: white;
    margin-top: 1.5em;
}

a.account-links:hover {
    color: #007bff;
}

/* Cart page */

.cart-section {
    background-color: #f1f1f1;
    min-height: 65vh;
}

#cart-header {
    padding-top: 0.5em;
    font-size: 1.75em;
    text-align: center;
}

.cart-content-wrapper {
    height: 150px;
    padding-left: 0;
    padding-right: 0;
}

.cart-lot-header {
    padding-top: 2.75em;
    text-align: center;
    font-size: 0.85em;
    font-weight: 800;
}

.cart-lot-text {
    font-size: 0.7em;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

.cart-image {
    height: 125px;
    width: 100%;
}

.remove-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.fa-trash {
    color: #483d8b;
    position: absolute;
    right: 0;
    bottom: 0;
}

.fa-trash:hover {
    color: #6c757d;
}

.text-right {
    margin-right: 1em;
}

.total-header {
    text-align: center;
    font-size: 0.85em;
    font-weight: 800;
}

.cart-options {
    margin-top: 1em;
    height: 35px;
}

#continue-btn {
    background: #483d8b;
    font-size: 0.75em;
    font-weight: 600;
    margin-left: 1.3em;
    margin-right: 1em;
    margin-bottom: 1em;
    color: white;
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
}

#checkout-btn {
    background: #483d8b;
    font-size: 0.75em;
    font-weight: 600;
    margin-left: 2em;
    margin-right: 1em;
    margin-bottom: 1em;
    color: white;
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
}

/* Checkout Page */

#checkout-header {
    font-size: 2em;
}

#payment-form {
    margin-bottom: 2em;
}

#submit_payment_btn {
    background: #483d8b;
    font-size: 0.85em;
    font-weight: 600;
    color: white;
}

/* Home Page */

.home-background-picture {
    height: 100vh;
    background: url("/static/images/home_picture.jpg") no-repeat;
    background-position: 46% 0%;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.centered-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
}

#site-tagline {
    color: white;
    font-weight: 600;
    font-size: 1.5em;
}

.select-btn {
    background: #483d8b;
    font-size: 0.85em;
    font-weight: 600;
    transform: translateX(-5%) translateY(-45%);
    color: white;
}

#auction-header {
    padding-top: 0.5em;
    padding-bottom: 0.65em;
    font-size: 1.5em;
}

.auction-instruction-header {
    font-size: 1.2em;
}

.auction-instruction-icon {
    color: #483d8b;
    padding-right: 0.5em;
}

.auction-instruction-description {
    padding-bottom: 1em;
}

#auction-instruction-description-first {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

#sign-up-text {
    margin-bottom: 2em;
}

#sign-up-link {
    color: #483d8b;
    font-weight: 400;
}

/* About Us page */

#about-image {
    max-width: 100%;
    height: auto;
}

#about-header {
    font-weight: 600;
    font-size: 1.5em;
    padding-top: 0.5em;
    text-align: center;
}

#founder-header {
    font-size: 1.1em;
    text-align: center;
}

#about-text {
    font-size: 1em;
}

/* Contact page */

.jumbotron {
    background: #6c757d;
    color: #fff;
    border-radius: 0;
    margin-bottom: 1em;
}

.jumbotron-sm {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.jumbotron small {
    color: #fff;
}

#contact-us-header {
    font-size: 2em;
}

#contact-us-header small {
    font-size: 0.53em;
}

.fa-envelope {
    color: #483d8b !important;
}

.fa-user-contact {
    padding-right: 0.3em !important;
    color: #483d8b !important;
}

.fa-globe {
    color: #483d8b;
}

.form-actions {
    padding-top: 1em;
    text-align: center;
}

.contact-btn {
    background: #483d8b;
    font-size: 0.85em;
    font-weight: 600;
    transform: translateX(-11%) translateY(-45%);
    color: white;
}

.contact-message {
    font-size: 1.5em;
    text-align: center;
}

/* Blog page */

#blog-section {
    background-color: white;
}

.blog-article {
    padding-top: 1em;
    padding-bottom: 1em;
}

.blog-title {
    font-size: 1.5em;
    padding-left: 0.25em;
    padding-top: 0.25em;
}

.blog-date {
    font-size: 0.85em;
    padding-left: 0.5em;
}

.blog-image {
    max-width: 100%;
    padding: 0.5em;
    height: auto;
}

.blog-text {
    padding: 0.5em;
}

.blog-divider {
    margin: 0;
}

#comment-count {
    margin-left: 0.5em;
    font-size: 0.75em;
}

#any-comments {
    margin-top: 0.5em;
}

/* Blog Post page */

#blog-post-section {
    margin-bottom: 1em;
}

#jumbotron-blog {
    padding-top: 1.75em;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
}

.blog-btn {
    background: #483d8b;
    margin-left: 0;
    font-size: 0.85em;
    font-weight: 600;
    color: white !important;
}

#blog-comment-title {
    font-size: 1.25em;
    padding-bottom: 0.5em;
}

.comment-container {
    padding-bottom: 1em;
}

.comment-wrapper {
    background: white;
}

.comment {
    padding: 1em;
}

.comment-spacing {
    margin-bottom: 1.5em;
}

.blog-comment-divider {
    width: 90%;
}

/* Products page */

.lots-section,
.lots-section-search {
    background-color: #f1f1f1;
}

#products-header {
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#product-count {
    font-size: 0.75em;
    color: #a2a3a5;
}

#sort-header {
    font-size: 1.2em;
}

.dropdown-box {
    width: 11em;
    height: 2em;
    padding: 0 !important;
    font-size: 0.85em !important;
}

.lot-wrapper {
    background: white;
    padding: 0.25em;
    margin: 0 0 0.75em 0;
}

.lot-content-wrapper {
    height: 150px;
    width: 115px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.image-wrapper {
    padding: 0;
}

.lot-image {
    height: 150px;
    width: 100%;
}

.lot-header {
    padding-top: 1em;
    margin-left: 0.75em;
    font-size: 0.85em;
    font-weight: 800;
}

.lot-text p {
    font-size: 0.7em;
    padding-left: 0.75sem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.bid-value {
    color: blue;
    font-weight: 700;
}

.price-padding {
    padding-top: 1em;
}

.starting-price {
    color: blue;
}

.closed-status {
    color: red;
}


.lot-btn {
    background: #483d8b;
    font-size: 0.75em;
    font-weight: 600;
    margin-left: 0.5em;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}

.center {
    text-align: center;
}

.center a {
    font-size: 0.75em;
}

.btn-outline-info {
    color: black;
    border-color: #6c757d !important;
}

.btn-outline-info:hover:focus:active {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.btn-info {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.btn-info:hover:focus:active {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

/* Artifact page  */

#artifact-section {
    margin-top: 1em;
}

.alert-danger {
    margin-top: 1em;
    font-size: 0.75;
    text-align: center;
}

.login-alert-message {
    padding-bottom: 0 !important;
}

.fa-exclamation-circle {
    padding-right: 0.25em;
}

.artifact-content {
    text-align: center;
}

#artifact-header {
    font-size: 1.5em;
    padding-bottom: 0.50em;
    font-weight: 800;
}

#artifact-image {
    height: 350px;
    width: 100%;
    margin-bottom: 1em;
}

#artifact-bid-price-login {
    padding-top: 0.25em;
    margin-bottom: 2em;
    font-size: 1.25em;
    text-align: center;
}

#artifact-bid-price-logout {
    padding-top: 0.25em;
    margin-bottom: 0em;
    font-size: 1.25em;
    text-align: center;
}

.fa-info-circle {
    color: #483d8b;
    font-size: 1.70em;
}

.modal-header {
    display: block;
}

.list-spacing {
    padding-left: 1em !important;
}

.modal-list {
    list-style-type: disc !important;
    list-style: outside;
    text-align: left;
}

.input-field {
    margin-left: 0.75em;
    margin-bottom: 2.5em;
}

#id_current_bid {
    border-radius: 25px;
    margin-left: 0.75em;
    width: 6.5em;
    -webkit-appearance: none;
    margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#buyout-input-field {
    border-radius: 25px;
    margin-left: 0.5em;
    margin-left: 2.25em;
}

#bid-input-field {
    border-radius: 25px;
    margin-left: 0.5em;
}

#buy-header {
    margin-right: 8em;
    margin-bottom: 0.25em;
    margin-top: 0.5em;
}

#lots-btn {
    background: #483d8b;
    font-size: 0.75em;
    font-weight: 600;
    color: white;
    margin-bottom: 2em;
    margin-top: 1em;
}

.description-header {
    padding-top: 0;
    font-size: 1.5em;
}

.artifact-info {
    margin: 0;
    padding: 0;
    line-height: 30px;
}

.artifact-btn {
    background: #483d8b;
    font-size: 0.75em;
    margin-left: 0.5em;
    font-weight: 600;
    color: white;
    width: 80px;
}

.input,
label {
    display: block;
}

.input-field {
    border-radius: 25px;
    margin-bottom: 0.5em !important;
}

.bid-form {
    display: inline-block;
}

#all-bids-login {
    margin-right: 7em;
}

#all-bids-logout {
    margin-right: 13em;
}

.add-form {
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Search Products Page */

#sort-header-search {
    font-size: 1.2em;
}

/* Media Queries */

@media (min-width: 320px) {
    /* Products Page */

    .lot-header {
        margin-bottom: 0 !important;
    }

    .cart-options {
        margin-top: 0.5em;
    }

    /* Search Products Page */

    .lots-section-search {
        min-height: 45vh;
    }

    #sort-header-search {
        padding-top: 0.5em;
    }
}

@media (min-width: 360px) {
    /* Home Page */

    .navbar-brand {
        margin-right: 2em;
    }

    /* Accounts Page */

    #account-section {
        min-height: 48vh;
    }

    /* Blog Page */

    .blog-text {
        font-size: 0.9em;
    }

    /* Products Page */

    .lot-header {
        font-size: 1em;
        padding-top: 0.75em;
    }

    .lot-text {
        font-size: 0.95em;
        padding-left: 1em;
    }

    /* Artifact Page */

    #artifact-image {
        height: 375px;
    }

    /* Search Products Page */

    .lots-section-search {
        min-height: 52vh;
    }
}

@media (min-width: 375px) {
    /* Home Page */

    .navbar-brand {
        margin-right: 3em;
    }

    /* Account Pages */

    #account-section {
        height: 80vh;
    }

    /* Products Page */

    #lots-section {
        min-height: 62vh;
    }

    .lot-header {
        font-size: 1em;
        padding-top: 0.5em;
    }

    /* Search Products Page */

    .lots-section-search {
        min-height: 55vh;
    }
}

@media (min-width: 411px) {
    /* Home Page */

    .navbar-brand {
        font-size: 1.3em;
    }

    /* Products Page */

    #lots-section {
        min-height: 58vh;
    }

    .lot-content-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .lot-header {
        padding-top: 0.75em;
        padding-right: 1.25em;
    }

    .lot-text {
        padding-right: 1.25em;
    }

    /* Artifact Page */

    #artifact-image {
        height: 425px;
    }

    /* Search Products Page */

    .lots-section-search {
        min-height: 57vh;
    }
}

@media (min-width: 768px) {

    /* Home Page */

    .navbar-brand {
        font-size: 1em;
        margin-right: 0;
        padding-bottom: 0.9em;
    }

    #nav-link-home {
        margin-right: 2em;
        margin-left: 2em;
    }

    .nav-item {
        font-size: 0.6em;
        padding-right: 0.2em;
    }

    .nav-link {
        padding-right: 0.5em !important;
    }

    .fa-search {
        font-size: 0.75em;
    }

    #searchbox-text {
        margin-top: 0;
        font-size: 0.6em;
    }

    .nav-item-user {
        margin-left: 0.25em;
        padding-left: 1em;
    }

    .nav-item-cart {
        padding-left: 0.5em;
    }

    .fa-user {
        padding-right: 3em;
        padding-bottom: 0.05em;
    }

    .fa-shopping-cart {
        padding-right: 3em;
        padding-bottom: 0.05em;
    }

    #site-tagline {
        font-size: 2.85em !important;
    }

    .select-btn {
        font-size: 1.25em;
    }

    .footer-link {
        font-size: 0.5em !important;
    }

    /* Account Pages */

    #account-section {
        height: 75vh;
    }

    .account-form {
        width: 50%;
    }

    .account-btn {
        font-size: 1em;
    }

    .border-class {
        width: 35%;
    }

    /* Cart Page */

    .cart-section {
        min-height: 78vh;
    }

    #cart-header {
        font-size: 2.75em;
    }

    .cart-content-wrapper {
        height: 300px;
        width: 300px;
    }

    .cart-image {
        height: 300px;
        width: 300px;
    }

    .cart-lot-header {
        padding-top: 2.75em;
        font-size: 1.5em;
    }

    .cart-lot-text {
        font-size: 1.5em;
    }

    .fa-trash {
        font-size: 2em;
    }

    .text-right {
        margin-right: 1.5em;
    }

    .total-header {
        font-size: 1.5em;
    }

    .cart-options {
        margin-top: 2em;
    }

    #continue-btn {
        font-size: 1.25em;
        margin-left: 0.75em;
    }

    #checkout-btn {
        font-size: 1.25em;
        margin-right: 0.75em;
    }

    /* Checkout Page */

    #submit_payment_btn {
        font-size: 1em;
    }

    /* Contact Us Page */

    #contact-section {
        height: 76vh;
    }

    .contact-us-wrapper {
        height: 60vh;
    }

    .form-control {
        height: 60%;
        width: 90%;
    }

    .contact-btn {
        font-size: 1em;
    }

    /* Blog Page */

    .blog-title {
        font-size: 2em;
    }

    .blog-text {
        font-size: 1.15em;
    }

    .blog-btn {
        font-size: 1em;
    }

    #blog-post-section {
        height: 76vh;
    }

    /* Products Page */

    #lots-section {
        min-height: 76vh;
    }

    #products-header {
        font-size: 2em;
    }

    #sort-header {
        font-size: 1.75em;
    }

    .dropdown-box {
        width: 12em;
        font-size: 1em !important;
    }

    .lot-content-wrapper {
        height: 300px;
        width: 300px;
    }

    .lot-image {
        width: 300px;
        height: 300px;
    }

    .lot-header {
        font-size: 1.75em;
        padding-top: 1em;
    }

    .lot-btn {
        font-size: 1.25em;
        right: 135px;
        bottom: 35px;
    }

    .lot-text {
        font-size: 1.75em;
    }

    .center a {
        font-size: 1.25em;
    }

    /* Artifact Page */

    .fa-exclamation-circle {
        font-size: 1.75em;
    }

    #artifact-header {
        font-size: 2em;
    }

    .artifact-btn {
        font-size: 1.25em !important;
        width: 6.1em;
        line-height: 1em;
    }

    #lots-btn {
        font-size: 1.25em;
    }

    /* Search Products Page */

    #sort-header-search {
        font-size: 1.75em;
    }

    .lots-section-search {
        min-height: 76vh;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    /* Home Page  */

    .navbar-brand {
        font-size: 1.45em;
        margin-right: 0.5em;
        padding-bottom: 0.75em;
    }

    .nav-item {
        font-size: 0.75em;
        padding-right: 0.1em;
    }

    #nav-item-end {
        padding-right: 0em;
    }

    .form-inline {
        padding-right: 0em;
    }

    .form-control {
        height: 50%;
        width: 70%;
    }

    #searchbox-text {
        font-size: 0.75em;
    }

    .fa-user {
        padding-right: 4em;
    }

    .fa-shopping-cart {
        padding-right: 4em;
    }

    .nav-item-user {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    #nav-item-cart {
        padding-right: 0.5em;
    }

    #site-tagline {
        font-size: 2.85em !important;
    }

    .footer-link {
        font-size: 0.75em !important;
    }

    /* Account Pages */

    #account-section {
        height: 82vh;
    }

    /* Cart Page */

    .cart-section {
        min-height: 84vh;
    }

    .cart-lot-header {
        padding-top: 5em;
    }

    .cart-content-wrapper {
        height: 450px;
        width: 350px;
    }

    .cart-image {
        height: 450px;
        width: 100%;
    }

    .text-right {
        margin-right: 2em;
    }

    /* Checkout Page */

    #checkout-section {
        min-height: 82vh;
    }

    /* Contact Us Page */

    #contact-section {
        height: 82vh;
    }

    /* Blog Page */

    #blog-section {
        height: 100vh;
    }

    .blog-title {
        font-size: 3em;
    }

    .blog-date {
        font-size: 1.25em;
    }

    /* Blog Comment page  */
    #blog-post-section {
        height: 83vh;
    }

    /* Products Page */

    #lots-section {
        min-height: 82vh;
    }

    .dropdown-box {
        width: 12em;
    }

    .lot-image {
        height: 450px;
        width: 90%;
    }

    .lot-content-wrapper {
        height: 450px;
        width: 90%;
    }

    .lot-header {
        padding-top: 4.5em;
    }

    .lot-text {
        font-size: 2em;
    }

    .lot-btn {
        right: 190px;
        bottom: 100px;
    }

    /* Artifacts Page */

    #artifact-section {
        min-height: 81vh;
    }

    #artifact-image {
        height: 500px;
    }

    /* Search Products Page */

    .lots-section-search {
        min-height: 82vh;
    }
}

@media (min-width: 1367px) {
    /* Home Page */

    .home-background-picture {
        background-position: 38% 0%;
    }

    .navbar-brand {
        font-size: 2em;
        margin-right: 0.5em;
        padding-bottom: 0;
    }

    #nav-link-home {
        margin-right: 0.25em;
        margin-left: 1em;
    }

    .nav-item {
        font-size: 1.2em;
        padding-right: 1em;
    }

    .nav-padding {
        padding-left: 1.5em !important;
    }

    .form-control {
        height: 60%;
        width: 75% !important;
    }

    .fa-shopping-cart {
        padding-right: 0.5em;
    }

    .fa-search {
        font-size: 1.25em !important;
    }

    #searchbox-text {
        height: 1.75em;
        font-size: 1.2em;
    }

    .fa-user {
        padding-right: 0.5em;
    }

    #site-tagline {
        font-size: 2.85em !important;
    }

    .footer-link {
        font-size: 1.2em !important;
    }

    /* Account Pages */

    #jumbotron-account {
        padding-top: 2em;
    }

    /* Cart Page */

    .cart-content-wrapper {
        height: 575px;
        width: 100%;
    }

    .cart-image {
        height: 550px;
        width: 100%;
    }

    .cart-lot-header {
        padding-top: 4.5em;
    }

    /* Contact Us Page */

    #contact-section {
        height: 75vh;
    }

    /* Blog Page */

    .blog-title {
        font-size: 3em;
    }

    .blog-date {
        font-size: 1em;
        padding-left: 0.75em;
    }

    /* Products Page */

    .dropdown-box {
        width: 12em !important;
    }

    .lot-image {
        height: 575px;
        width: 100%;
    }

    .lot-content-wrapper {
        height: 550px;
    }

    .lot-header {
        padding-top: 4.5em;
    }

    .lot-btn {
        font-size: 1.25em;
        right: 220px;
        bottom: 180px;
    }

    /* Artifact Page */

    #artifact-image {
        height: 600px;
    }
}