{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section id="account-section">
    <div class="jumbotron" id="jumbotron-account">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 id="account-header">
                        Set a new password
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div id="account-align">
                        <input class="btn account-btn" type="submit" value="Change my password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}