{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section id="account-section">
    <div class="jumbotron" id="jumbotron-account">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 id="account-header">
                        Check your inbox
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}