<!-- The HTML template used to send an email confirmation once payment has been received -->

<p>Hi {{ user }},</p>

<p>Thank you for your payment.</p>

<h3>Order Summary:</h3>

{% for product in products %}
<p>
    <strong>Item:</strong> {{ product.name }}<br>
    <strong>Price:</strong> <span>&pound;</span>{{ product.buyout_price }}
</p>
{% endfor %}

<p><strong>Total:</strong><span>&pound;</span>{{ total }}</p>

<p>Your item will be shipped to you in the next 3-5 working days.</p>

<p>Sincerely,</p>

<p>The Artifact Auctioneers Team</p>