<!-- The HTML template used to send an email confirmation once an account has been created -->

<p>Hi {{ user }},</p>

<p>Welcome to Artifact Auctioneers!</p>

<p>You will now be able to bid on or purchase items from our extensive list of artifacts, procured from around the world.</p>

<p>Be sure to check out our <a href="https://ecommerce-msp4.herokuapp.com/blog/">blog</a> for all the latest news on what our archeology team have been up to.</p>

<p>If you have any queries please <a href="https://ecommerce-msp4.herokuapp.com/contact/">contact us.</a></p>

<p>Sincerely,</p>

<p>The Artifact Auctioneers Team</p>